In [1]:
import pandas as pd

In [2]:
badges = pd.read_csv(r'../stack-exchange-data/badges.csv')
comments = pd.read_csv(r'../stack-exchange-data/comments.csv')
postHistory = pd.read_csv(r'../stack-exchange-data/postHistory.csv')
postLinks = pd.read_csv(r'../stack-exchange-data/postLinks.csv')
posts = pd.read_csv(r'../stack-exchange-data/posts.csv')
tags = pd.read_csv(r'../stack-exchange-data/tags.csv')
users = pd.read_csv(r'../stack-exchange-data/users.csv')
votes = pd.read_csv(r'../stack-exchange-data/votes.csv')

          Id  UserId            Name                 Date
0          1       5         Teacher  2010-07-19 19:39:07
1          2       6         Teacher  2010-07-19 19:39:07
2          3       8         Teacher  2010-07-19 19:39:07
3          4      23         Teacher  2010-07-19 19:39:07
4          5      36         Teacher  2010-07-19 19:39:07
...      ...     ...             ...                  ...
79846  92236   55744         Student  2014-09-13 23:25:21
79847  92237    1118     Nice Answer  2014-09-14 00:09:35
79848  92238    1118     Enlightened  2014-09-14 01:18:29
79849  92239   55746         Student  2014-09-14 01:41:18
79850  92240   12597  Autobiographer  2014-09-14 02:31:28

[79851 rows x 4 columns]